Final_Submission/Trashbin_mock_data_insert_flow.json
[{"id":"df90d3c.9163a3","type":"tab","label":"PostgreSQL insert","disabled":false,"info":""},{"id":"2e76fb6c.e9fbf4","type":"mqtt in","z":"df90d3c.9163a3","name":"3x_sin","topic":"/emrp2020/alaa/mock_level_sensor","qos":"2","datatype":"json","broker":"3f60fcca.251304","x":150,"y":360,"wires":[["fe3a85c5.f773d8"]]},{"id":"10f21dc0.1e9df2","type":"debug","z":"df90d3c.9163a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":460,"wires":[]},{"id":"5da5c61a.ef9778","type":"postgrestor","z":"df90d3c.9163a3","name":"hsrw.space emrp insert","query":"INSERT into geo.trash_fill_level(\"ts\", \"trash_id\", \"level\", \"temp\") \nvalues ($1, $2, $3, $4);\n","postgresDB":"c8a6cc11.e912d","output":true,"outputs":1,"x":630,"y":340,"wires":[["b8787e12.d662d"]]},{"id":"fe3a85c5.f773d8","type":"function","z":"df90d3c.9163a3","name":"msg.params","func":"let trash_id = msg.payload.trash_id;\nlet ts = msg.payload.ts;\nlet level = msg.payload.level;\nlet temp = msg.payload.temp;\n\nmsg.params = [ts, trash_id, level, temp];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[["5da5c61a.ef9778","10f21dc0.1e9df2"]]},{"id":"b8787e12.d662d","type":"debug","z":"df90d3c.9163a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":340,"wires":[]},{"id":"3f60fcca.251304","type":"mqtt-broker","name":"hsrw.space","broker":"hsrw.space","port":"1883","tls":"70175d8f.fa6ca4","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8a6cc11.e912d","type":"postgresDB","name":"hsrw.space","host":"hsrw.space","hostFieldType":"str","port":"5432","portFieldType":"num","database":"emrp_axelor","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","user":"emrp_axelor_master","userFieldType":"str","password":"emrp34&!","passwordFieldType":"str"},{"id":"70175d8f.fa6ca4","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]