0401_Node-RED_PostgreSQL/flows.json
[{"id":"df90d3c.9163a3","type":"tab","label":"PostgreSQL insert","disabled":false,"info":""},{"id":"cab4ee27.78d48","type":"function","z":"df90d3c.9163a3","name":"3 output messages from t, y1, y2, y3","func":"\nvar input = msg.payload;\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\ny1 = input.y1;\ny2 = input.y2;\ny3 = input.y3;\nms = input.ms;\n\nmsg1.topic = \"y1\";\nmsg1.payload = y1;\nmsg1.timestamp = ms;\n\nmsg2.topic = \"y2\";\nmsg2.payload = y2;\nmsg2.timestamp = ms;\n\nmsg3.topic = \"y3\";\nmsg3.payload = y3;\nmsg3.timestamp = ms;\n\nreturn [msg1, msg2, msg3];\n","outputs":3,"noerr":0,"x":490,"y":240,"wires":[[],[],[]]},{"id":"2e76fb6c.e9fbf4","type":"mqtt in","z":"df90d3c.9163a3","name":"3x_sin","topic":"/emrp2020/john_doe/sensor_sim_db","qos":"2","datatype":"json","broker":"3f60fcca.251304","x":210,"y":240,"wires":[["cab4ee27.78d48","10f21dc0.1e9df2","fe3a85c5.f773d8"]]},{"id":"10f21dc0.1e9df2","type":"debug","z":"df90d3c.9163a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":160,"wires":[]},{"id":"5da5c61a.ef9778","type":"postgrestor","z":"df90d3c.9163a3","name":"hsrw.space emrp insert","query":"INSERT into test(\"sensor_id\", \"ts\", \"val\") \nvalues ($1, $2, $3);\n","postgresDB":"c8a6cc11.e912d","output":true,"outputs":1,"x":630,"y":340,"wires":[["b8787e12.d662d"]]},{"id":"fe3a85c5.f773d8","type":"function","z":"df90d3c.9163a3","name":"msg.params","func":"let sensor_id = msg.payload.sensor_id;\nlet ts = msg.payload.ts;\nlet val = msg.payload.val;\n\nmsg.params = [sensor_id, ts, val];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["5da5c61a.ef9778"]]},{"id":"b8787e12.d662d","type":"debug","z":"df90d3c.9163a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":340,"wires":[]},{"id":"b01c1ef3.5eb32","type":"comment","z":"df90d3c.9163a3","name":"","info":"Not ready, yet!\n\nFollow the discussion:\n\nhttps://discourse.nodered.org/t/insert-into-postgresql-database/31263/42\n","x":580,"y":160,"wires":[]},{"id":"3f60fcca.251304","type":"mqtt-broker","z":"","name":"hsrw.space","broker":"hsrw.space","port":"1883","tls":"70175d8f.fa6ca4","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8a6cc11.e912d","type":"postgresDB","z":"","name":"hsrw.space","host":"hsrw.space","hostFieldType":"str","port":"5432","portFieldType":"num","database":"emrp_db","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","user":"emrp_master","userFieldType":"str","password":"emrp34&!","passwordFieldType":"str"},{"id":"70175d8f.fa6ca4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]